
.hero-section{
  width:646px;
  height:400px;
}

.hero-img{
  width:476px;
}

.general{
  font-family: Red Rose;
  color: #434343;
}


.modal-box{
 background: #ffffff;
 border: 1px solid #CFD8DC;
 border-radius: 12px;
 padding: 12px 20px;
 width: 350px;
 height:68px;
}

.modal-box:hover{
  background: #f8f9fA;
}

 .input-box {
   background:rgba(247, 247,247, 0.1);
   border:1px solid #A3A3A3;
   border-radius:8px 0px 0px 8px;
 }
 
 .search-btn{
   background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%); 
   border-radius:0px 8px 8px 0px;
 }
 
 .btn-location{
display: inline-block;
 background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
 border: 1px solid #B4B4B4;
 border-radius: 8px;
 padding: 10px;
}

.btn-location:hover{
  background: #f8f9fA;
}

 
.footer-text{
  font-family: Red Rose;
  font-weight: normal;
  color:#f1f3f9;
  font-style: normal;
  font-size: 14px;
  line-height: 35px;
}

.footer-title{
  font-family: Red Rose;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

 
/*phone media query*/
@media only screen and (max-width:540px){
  
.modal-box{
 background: #ffffff;
 border: 1px solid #CFD8DC;
 border-radius: 12px;
 padding: 12px 20px;
 width: 300px;
 height:68px;
}

.hero-section{
  width: 350px;
  height:650px;
}

.hero-img{
  width: 350px;
  height: 420px;
}
}

/*tablet media query*/
@media only screen and (min-width:768px){

.modal-box{
 background: #ffffff;
 border: 1px solid #CFD8DC;
 border-radius: 12px;
 padding: 12px 20px;
 width: 300px;
 height:68px;
}

.hero-section{
  width:646px;
  height:400px;
}

.hero-img{
  width:476px;
  height:500px;
}

}